<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title> Habit Chore Tracker </title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <style>
        .navbar-nav{
            margin: 0px auto;
        }
    </style>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'> 
                    <a class='nav-link' href='/' style='color:white'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/about' style='color: white'>About</a>
                </li>
                
                <li class='nav-item'>
                    <a class='nav-link' href='/login' style='color: white'>Login</a>
                </li>
            
                <li class='nav-item'>
                    <a class='nav-link' href='/register' style='color: white'>Register</a>
                </li>
             
            </ul>
        </div>
    </nav>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Thoms Tran</title>
</head>
<body style="color:rgb(0, 0, 0);">
   <section class="name-section">
       <h1>Thomas Tran</h1>
       <p>Hello! I'm Thomas Tran and I am an aspiring software engineer with an interest in backend development! 
       </p>
   </section>
   <section class="questions-section">
       <h2>Where I’m From</h2>
       <p>I'm from Hayward, California. Born and raised in the Bay Area!</p>
       <h2>What are your favorite hobbies?</h2>
       <p>My hobbies include playing badminton, video games, and learning about new emerging technologies.</p>
       <h2>What’s your dream company?</h2>
       <p>It would be my dream to create my own start-up after I acquire the necessary skills to venture out by myself.</p>
       <h2>What grade are you in?</h2>
       <p>I'm a senior CS student at SFSU!</p>
       <h2>Why do you want to be a backend developer?</h2>
       <p>I always found an interest in how things have operated internally within systems. 
    Sure, it's nice to make a fancy UI, but I highly emphasize functionality over everything else! I like to see the logic to why things work the way they do.</p>
    <h2>What is Habit Tracker?</h2>
    <p>Habit tracker is a way for people to track their daily activities and log them with ease. Habits are built up over time, but they are tasks you do repeatedly. 
        This becomes difficult to
        see an individual's progress from their first week into their 90th day performing the same task until it becomes second nature.
    </p>
   </section>
   <footer class="footer-section">
       <p>Let’s Get Connected!</p>
       <ul class="social">
           <li><a href="https://github.com/thomastran510" target="_blank">GitHub</a></li>
       </ul>
   </footer>
</body>
</html>